<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IlNwbGFzaDMwIiwi
		cGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlv
		bnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTguMCJ9
		XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJTcGxhc2gzMCIsInNldHRpbmdzIjpb
		eyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS5hbHBheWNhbGFsbGkuQmFza2V0
		YmFsbEFuYWx5emVyIl19LHsidGVhbUlkZW50aWZpZXIiOlsiRzhNU0EyMlZT
		VSJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNp
		b24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InBy
		ZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoib3Jhbmdl
		In19fSwiYXBwSWNvbiI6eyJwbGFjZWhvbGRlciI6eyJpY29uIjp7InJhd1Zh
		bHVlIjoicGFwZXIifX19LCJjYXBhYmlsaXRpZXMiOlt7InB1cnBvc2UiOiJj
		YW1lcmEiLCJwdXJwb3NlU3RyaW5nIjoiQXBwIHVzZXMgdGhlIGNhbWVyYSB0
		byBwZXJmb3JtIGFuYWx5c2lzLiJ9LHsicHVycG9zZSI6InBob3RvTGlicmFy
		eUFkZCIsInB1cnBvc2VTdHJpbmciOiJBcHAgZ2l2ZXMgb3B0aW9uIHRvIHNh
		dmUgYW5hbHlzaXMgdmlkZW8gdG8geW91ciBwaG90byBsaWJyYXJ5LiJ9XSwi
		c3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3Vw
		cG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJsYW5kc2NhcGVSaWdo
		dCI6e319XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsi
		ZXhlY3V0YWJsZSI6bnVsbH19XSwic3dpZnRMYW5ndWFnZVZlcnNpb25zIjpb
		IjUiXSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMi
		OltdLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VB
		Y2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoi
		UmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3Mi
		OltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5k
		ZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJw
		YWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3si
		cGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNl
		dHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lv
		biI6eyJfdmVyc2lvbiI6IjUuOS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		uBw3e3gaCXukkD8XWjlNpRxnqbf15igw4EXqeDuJ93g=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
