<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkJhc2tldGJhbGxB
		bmFseXplciIsInBhY2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1z
		IjpbeyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lv
		biI6IjE4LjAifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiQmFza2V0YmFsbEFu
		YWx5emVyIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsiY29t
		LmFscGF5Y2FsYWxsaS5CYXNrZXRiYWxsQW5hbHl6ZXIiXX0seyJ0ZWFtSWRl
		bnRpZmllciI6WyJHOE1TQTIyVlNVIl19LHsiZGlzcGxheVZlcnNpb24iOlsi
		MS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6
		W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3Ii
		OnsicmF3VmFsdWUiOiJvcmFuZ2UifX19LCJhcHBJY29uIjp7InBsYWNlaG9s
		ZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJwYXBlciJ9fX0sImNhcGFiaWxp
		dGllcyI6W3sicHVycG9zZSI6ImNhbWVyYSIsInB1cnBvc2VTdHJpbmciOiJJ
		IG5lZWQgaXQuIn0seyJwdXJwb3NlIjoicGhvdG9MaWJyYXJ5QWRkIiwicHVy
		cG9zZVN0cmluZyI6IldlIG5lZWQifV0sInN1cHBvcnRlZERldmljZUZhbWls
		aWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVu
		dGF0aW9ucyI6W3sibGFuZHNjYXBlUmlnaHQiOnt9fV19XX1dLCJ0YXJnZXRz
		IjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0s
		InN3aWZ0TGFuZ3VhZ2VWZXJzaW9ucyI6WyI1Il0sInRhcmdldE1hcCI6eyJB
		cHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W3sicGF0aCI6Ik1MRmlsZVwvSG9vcERldGVjdG9y
		QmV0YTEzeDEzLm1sbW9kZWxjIiwicnVsZSI6eyJjb3B5Ijp7fX19XSwic2V0
		dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3si
		ZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1
		bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNl
		cyI6W3sicGF0aCI6Ik1MRmlsZVwvSG9vcERldGVjdG9yQmV0YTEzeDEzLm1s
		bW9kZWxjIiwicnVsZSI6eyJjb3B5Ijp7fX19XSwic2V0dGluZ3MiOltdLCJ0
		eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9u
		IjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		AG5jn1afGux/1U3q9zXSFFaA+kXpvn155E/R5cbzf5s=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
